{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/arts/art-detail.css' %}?{% now "U" %}"
/>
{% endblock %}

{% block content %}

<section class="art-container">
  <div class="art-img">
    {% if art.photo.url %}
      <img 
      src="{{art.photo.url}}" 
      alt="Art picture"
      class="usr-img"
      >
    {% else %}
    <img 
      src="{% static 'images/no-image.jpeg' %}" 
      alt="No image available"
    >
    {% endif %}
  </div>
  <div class="art-details">
    <h1>{{ art.title }}</h1>
    <p>{{ art.description }}</p>
    <div class="art-actions">
      <a href="{% url 'arts_update' art.id %}" class="btn warn">Edit</a>
      <a href="{% url 'arts_delete' art.id %}" class="btn danger">Delete</a>
    </div>
    <h3>Change {{ art.title }}'s photo</h3>
    <p id="file-name"></p>
    <form 
      action="{% url 'add_photo' art.id %}"
      enctype="multipart/form-data"
      method="POST"
    >
      {% csrf_token %}
      <label class="btn secondary">
        Choose photo
        <input type="file" name="photo-file" id="file-input">
      </label>
      <button type="submit" class="btn submit">Upload Photo</button>
    </form>
  </div>
</section>

{% endblock %}