{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/arts/art-detail.css' %}"
/>
{% endblock %}

{% block content %}

<section class="art-container">
  <div class="art-img">
    <img 
    src="{{art.photo}}" 
    alt="Art picture"
    class="usr-img"
  >
  </div>
  <div class="art-details">
    <h1>{{ art.title }}</h1>
    <h2>By: {{ art.artist }}</h2>
    <h3>Completed: {{ art.date }}</h3>
    <p>{{ art.description }}</p>
    <div class="art-actions">
      <a href="{% url 'arts_update' art.id %}" class="btn warn">Edit</a>
      <a href="{% url 'arts_delete' art.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>

{% endblock %}