{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/arts/art-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Art Display</h1>
  <img src="{% static 'images/1.png' %}" alt="Art" height='20px'/>
  <img src="{% static 'images/2.png' %}" alt="Art" height='20px'/>
  <img src="{% static 'images/3.png' %}" alt="Art" height='20px'/>
  <img src="{% static 'images/4.png' %}" alt="Art" height='20px'/>
</section>

<section class="card-container">
  {% for art in arts %}
    <div class="card">
      <a href="{% url 'arts_detail' art.id %}">
        <div class="card-content">
          <div class="card-img-container">
            <img 
              src="{{art.photo}}" 
              alt="Art picture"
              class="usr-img"
            >
          </div>
          <h2 class="card-title">{{ art.title }}</h2>
          <p>By: {{ art.artist }}</p>
          <p>Completed: {{ art.date }}</p>
        </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}