{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/arts/art-index.css' %}?{% now "U" %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Art Display</h1>
  <img src="{% static 'images/1.png' %}" alt="Art" height='20px'/>
  <img src="{% static 'images/2.png' %}" alt="Art" height='20px'/>
  <img src="{% static 'images/3.png' %}" alt="Art" height='20px'/>
  <img src="{% static 'images/4.png' %}" alt="Art" height='20px'/>
</section>

<section class="math-art">
  <img src="{% static 'images/formula.jpeg' %}" alt="Art" height='300px'/>
  <img src="{% static 'images/flower-life.svg' %}" alt="Art" height='300px'/>
  <img src="{% static 'images/geometry.jpeg' %}" alt="Art" height='300px'/>
</section>

<section class="card-container">
  {% for art in arts %}
    <div class="card">
      <a href="{% url 'arts_detail' art.id %}">
        <div class="card-content">
          <div class="card-img-container">
            {% if art.photo.url %}
              <img 
              src="{{art.photo.url}}" 
              alt="Art picture"
              class="usr-img"
              >
            {% else %}
            <img 
              src="{% static 'images/no-image.jpeg' %}" 
              alt="No image available"
            >
            {% endif %}
          </div>
          <h2 class="card-title">{{ art.title }}</h2>
        </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}