{% extends 'base.html' %}
{% load static %}

{% block head %}
{% endblock %}

{% block content %}

<h1>Mary Chirinos</h1>
<hr />
<img src="{% static 'images/marypaints.jpeg' %}" alt="Art"/>
<p class="page-content">
  Mary Chirinos was born in Valencia, Venezuela. She began her inclination in art from an early age, entered the Cristobal Rojas School of Art where she could make sculptures and painting with different materials. Since 1990 she emigrated to the United States where she opted to pursue en education in art and design.
</br></br>
  Chirinos received her Bachelor in Fine Arts/architectural design from University of Texas in San Antonio, Texas in 1993. She currently resides in Miami, Florida where she participates with the art group of women W-10, also continues her career as an independent art actively involved in artistic events.
</p>

{% endblock %}